* {
    box-sizing: border-box;
  }
.main-section{
    max-width: 1440px;
}
.conteiner {
    margin: 16px 50px 0px 25px;
    max-width: 1920px;
}
.header-logo {
    width: 140px;
    height: 87px;
    margin-left: 165px;
    flex: 1;
}

.p-text {
    margin: -95px 0px 65px 180px;
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    flex: 1;
}

.header-img {
    margin: -30px 5px 25px 1650px;
    width: 30px;
    position: absolute;
    display: flex;
}

.nav {
    background-color: rgb(0, 87, 250);
    width: 1920px;
    height: 98px;
    margin: 48px 0px 0px -7px;
    position: absolute;
    flex: 1;
}
.nav-menu-2 {
    display: flex;
    align-items: center;
    margin: 40px 0px 0px 167px;
    position: absolute;
    color: #000000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    justify-content: space-between;
}
.p {
    margin: 27px 20px 0 78px ;
    position: absolute;
    display: flex;
}

.nav-polos {
    position: absolute;
    margin: 29px 0px 0px 45px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin: -6px 80px 0px 8px;
    opacity: 1;
}

.nav-form{
    margin: 42px 30px 30px 1600px;
    height: 300px;
}
.rectangle1 {
    width: 595px;
    height: 111px;
    flex-shrink: 0;
    background-color: rgb(0, 87, 250);
    border: 2px solid rgb(0, 87, 250);
    margin: -240px 30px 30px -8px;
    
}

.rectangle2 {
    width: 595px;
    height: 111px;
    flex-shrink: 0;
    background-color: rgb(0, 87, 250);
    border: 2px solid rgb(0, 87, 250);
    margin: -145px 30px 30px 1321px;
    flex: 1;
    
}
.rectangle3 {
    width: 1920px;
    height: 141px;
    flex-shrink: 0;
    background-color: #0047FF;
}
.block-img{
    margin: 24px 30px 21px 50px;
    flex: 1;
    position: absolute;
}
.block-img1{
    margin: 24px 30px 30px 447px;
    flex: 1;
    position: absolute;
}
.block-img2{
    margin: 21px 30px 30px 70px;
    flex: 1;
    position: absolute;
}
.rectangle-text{
    margin: 43px 30px 30px 145px;
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.rectangle-text2{
    margin: 14px 115px -34px 212px;
    color: #fff;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}
.rectangle-text3{
    width: 805px;
    height: 59px;
    flex-shrink: 0;
    color: #FFFEFE;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin: -12px 30px 30px 645px;
}

.second-section {
    background-color: #fff;
    padding: 20px;
    height: 0px;
    margin: 470px 30px 30px -6px;
}

.bottom-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 611px 30px 30px 161px;
    width: 1400px;
    height: 50px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 345px;
    margin-bottom: 20px;
    height: 424.036px;
}

.card img {
    width: 345px;
    height: 240px;
    flex-shrink: 0;
    margin: -21px 30px 30px -31px;
}

.card h2 {
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: -7px 30px 30px -224px;
    position: relative
}

.card p {
    color: #1A3FD6;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

section.second-section{
    width: 1796px;
    height: 835px;
    margin: 504px 30px 30px -3px;
}
.card-container{
    margin: -598px 44px 30px 233px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-item {
    width: 249.986px;
    height: 190.263px;
    flex-shrink: 0;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: start;
}
.box {
    display: flex;
    justify-content: center;
    margin: 340px 30px 30px 30px;
}
.box-text{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: -189px 30px 30px 422px;
    position: absolute;
    justify-content: center;
}
.box-item.p{
    margin: 30px;
}
.slader{
    display: flex;
    justify-content: center;
}
.section4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.container-footer {
    margin-top: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    margin: 0 10px; 
}
.slider {
    text-align: center;
    margin: 277px 30px 30px 416px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 1112px;
    height: 368px;
  }
  
  .text-slide {
    display: none;
  }
.img-form {
    display: flex;
    flex: 1;
    margin: -19px 150px;
    position: absolute;
    width: 14px;
}
@media (max-width: 1440px) {
    .header {
        padding: 10px;
    }

    .nav {
        padding: 10px;
    }

    .header-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -406px;
    }

    .p-text {
        font-size: 30px;
        display: flex;
    }

    .nav-item {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .nav-polos{
        position: absolute;
        display: flex;
        margin: 17px 30px 30px 26px;
    }
    
    .conteiner {
        display: flex;
    }

    .rectangle2 {
        margin: -140px 30px 30px 1042px;
        position: fixed;
        justify-content: end;
        flex: auto;
        width: 595px
    }
    .rectangle-text2 {
        width: 805px;
        height: 59px;
        flex-shrink: 0;
        color: #FFFEFE;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        margin: 12px 30px 30px 190px;
    }
    .header-img {
        margin: 42px 5px 25px 1777px;
    }
    .nav-form{
        margin: 31px 30px 30px 1299px;
    }
    .rectangle-text3{
        margin: -5px 30px 30px 493px;
    }
    .rectangle3{
        margin: 30px 30px 30px -16px;
    }

    .p{
        margin: 30px 30px 30px -450px;
    }
    .header-logo{
        margin-left: -835px;
    }
    .card-container{
        margin: -572px 130px 30px 65px;
    }
    .slader{
        margin-left: 214px;
    }
    .section3{
        margin: 30px 30px 30px 30px;
    }
    .box{
        margin: 360px 233px 30px -94px;
    }
    .box-text{
        margin: -182px 30px 30px 230px;
    }
    .section4{
        display: flex;
        justify-content: center;
        margin-left: 238px;
    }
    .nav-menu-2{
        margin: 33px 30px 30px 114px;;
    }
    .slider {
        text-align: center;
        margin: 381px 30px 30px 218px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 1188px;
        height: 368px;
      }
}
@media (max-width: 767px){
    .header {
        padding: 10px;
    }

    .nav {
        padding: 10px;
    }

    .header-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 441px;;
    }

    .p-text {
        font-size: 30px;
        display: flex;
    }

    .nav-item {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .nav-polos{
        position: absolute;
        display: flex;
        margin: 17px 30px 30px 26px;
    }
    
    .conteiner {
        display: flex;
    }

    .rectangle2 {
        margin: -140px 30px 30px 1042px;
        justify-content: end;
        flex: auto;
        width: 595px
    }
    .rectangle-text2 {
        width: 805px;
        height: 59px;
        flex-shrink: 0;
        color: #FFFEFE;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        margin: 12px 30px 30px 190px;
    }
    .header-img {
        margin: 42px -232px 25px 2340px;
    }
    .nav-form{
        margin: 31px 30px 30px 1299px;
    }
    .rectangle-text3{
        margin: -5px 30px 30px 493px;
    }
    .rectangle3{
        margin: 30px 30px 30px -16px;
    }

    .p{
        margin: 26px -327px 30px -446px;
    }
    .header-logo{
        margin-left: -835px;
    }
    .card-container{
        margin: -572px 130px 30px 65px;
    }
    .slader{
        margin: 30px -254px;
    }
    .section3{
        margin: 30px 30px 30px 30px;
    }
    .box{
        margin: 360px 233px 30px -94px;
    }
    .box-text{
        margin: -182px 30px 30px 230px;
        font-size: 14px;
    }
    .section4{
        display: flex;
        justify-content: center;
        margin-left: -265px;
        margin: 70px -321px;
    }
    .nav-menu-2{
        margin: 33px 30px 30px 114px;;
    }
    .slider {
        text-align: center;
        margin: 381px 30px 30px 218px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 1188px;
        height: 368px;
      }
}
@media (max-width: 1023px){
    .header {
        padding: 10px;
    }

    .nav {
        padding: 10px;
    }

    .header-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 441px;;
    }

    .p-text {
        font-size: 30px;
        display: flex;
    }

    .nav-item {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .nav-polos{
        position: absolute;
        display: flex;
        margin: 17px 30px 30px 26px;
    }
    
    .conteiner {
        display: flex;
    }

    .rectangle2 {
        margin: -140px 30px 30px 1042px;
        justify-content: end;
        flex: auto;
        width: 595px
    }
    .rectangle-text2 {
        width: 805px;
        height: 59px;
        flex-shrink: 0;
        color: #FFFEFE;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        margin: 12px 30px 30px 190px;
    }
    .header-img {
        margin-left: 1357px;
    }
    .nav-form{
        margin: 31px 30px 30px 1299px;
    }
    .rectangle-text3{
        margin: -5px 30px 30px 493px;
    }
    .rectangle3{
        margin: 30px 30px 30px -16px;
    }

    .p{
        margin: 26px -327px 30px -446px;
    }
    .header-logo{
        margin-left: -835px;
    }
    .card-container{
        margin: -572px 130px 30px 65px;
    }
    .slader{
        margin-left: 623px;
    }
    .section3{
        margin: 30px 30px 30px 30px;
    }
    .box{
        margin: 360px 233px 30px -94px;
    }
    .box-text{
        margin: -182px 30px 30px 230px;
    }
    .section4{
        display: flex;
        justify-content: center;
        margin-left: 670px;
    }
    .nav-menu-2{
        margin: 33px 30px 30px 114px;;
    }
    .slider {
        text-align: center;
        margin: 381px 30px 30px 218px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 1188px;
        height: 368px;
      }
}

